
html {
    margin: 0;
    padding: 0;
    background-color: pink;
}
section.background {
    justify-content: space-between;
    display: flex;
}
div.girl {
    width: 30%;
    bottom: 0;
}
div.empty {
    width: 30%;
}
div.chat {
    width: 65%;
}
div#chatHistoryContainer {
    background-color: lightcoral;
    width: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 60vh;
    border-radius: 10%;
    margin:10%;
    margin-bottom: 2%;
    margin-top: 5%;
    padding: 5%;

    scrollbar-width: none;

}